* {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: #404040;
}

/* ============
     Typography
================*/

h1,
h2,
strong {
  font-weight: 700;
}

.accent-color {
  color: #f28406;
}

.hero-title {
  font-size: 1.5rem;
  line-height: 1.3;
}

.hero-subtitle {
  font-size: 1.125rem;
}

.page-header {
  font-size: 3rem;
  color: #000;
  margin-bottom: 0.5em;
  justify-self: center;
}

.page-header::after {
  content: "";
  display: block;
  width: 100%;
  height: 25px;
  margin-top: -35px;
  margin-left: 12px;
  background-color: #f6d0a4ae;
  box-shadow: 0 0 2cqb #f6c184;
}

.subtitle,
.section-title {
  font-size: 1.125rem;
  color: #000;
}

.section-title {
  margin-top: 1.25em;
}

.section-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin-top: 0.4em;
  background: #f28406;
}

.section-title-center::after {
  margin: 0.4em auto;
}

.footer-main {
  opacity: 0.5;
}

.footer-fineprint {
  font-size: 0.875rem;
  margin-top: 3em;
}

/* button */

.btn {
  padding: 0.5em 1.75em;
  font-weight: 700;
  text-decoration: none;
  border: 0;
  border-radius: 2px;
  transition: transform 250ms ease-in-out;
}

.btn-primary {
  color: #000;
  letter-spacing: 0.5px;
  background-color: #f28406;
  margin-top: 1.5em;
  justify-self: start;
}

.btn-right {
  justify-self: end;
}

.btn:hover,
.btn:focus {
  transform: scaleY(1.1);
}

/* ==================
     General layout
=====================*/

.main-grid {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
  gap: 0 2em;
}

.text-center {
  text-align: center;
}

.mt-2 {
  margin-top: 2em;
}

/* Navigation */

.header {
  background: #000;
}

.header-home {
  background: transparent;
  position: absolute;
  width: 100%;
}

.header-content {
  display: flex;
  grid-column: 2/-2;
}

.logo {
  display: block;
}

.logo-link {
  background: #f28406;
  padding: 2.5em 0.5em 0;
}

.nav {
  position: fixed;
  background: #000;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transition: transform 300ms ease-in-out;
}

.open-nav {
  transform: translateX(-100%);
}

.nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  transition: color 250ms ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: #f28406;
}

.open-nav-btn,
.close-nav {
  border: 0;
  background: 0;
  cursor: pointer;
}

.open-nav-btn {
  margin-left: auto;
  padding: 0 1em 0 3em;
}

.open-nav-icon {
  color: #fff;
  font-size: 2.5rem;
}

.close-nav {
  position: absolute;
  padding: 1em;
  right: 0;
}

.close-nav-icon {
  font-size: 2.5rem;
  color: #f28406;
}

/* Footer */

.footer {
  background-image: linear-gradient(
    rgba(248, 246, 246, 0.6),
    rgba(251, 231, 209, 0.6)
  );
  padding: 3em 0;
  text-align: center;
  grid-template-areas:
    ". social ."
    ". main .";
}

.footer-main {
  grid-area: main;
}

.social-list {
  grid-area: social;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-bottom: 3em;
}

.social-link {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 0.75em;
  color: inherit;
  transition: transform 250ms ease-in-out;
}

.social-link:hover,
.social-link:focus {
  transform: scale(1.2);
}

/* ============
     Hero area
================*/

.hero {
  justify-items: start;
  background-image: linear-gradient(
      rgba(55, 54, 54, 0.6),
      rgba(21, 22, 21, 0.6)
    ),
    url("../images/hero-bg2.jpg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 8em 0 3em;
}

.hero > * {
  grid-column: 2/-2;
}

/* ============
     Info section
================*/

.info {
  padding: 3em 0;
  text-align: center;
}

.col {
  grid-column: 2/-2;
  max-width: 450px;
}

/* ============
    template page
================*/

.main-template {
  padding: 4em 0;
}

.main-template > * {
  grid-column: 2/-2;
}

.subtitle {
  max-width: 45pc;
  justify-self: center;
  margin-bottom: 2em;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 0px #279694, 10px 10px 0px #f28406;
}

.page-text {
  margin-top: 2em;
}

/* Form */

.contact-form {
  display: grid;
}

label {
  font-weight: 700;
}

input,
textarea {
  padding: 0.5em;
  font-family: inherit;
}

input {
  margin-bottom: 1.5em;
}

textarea {
  resize: none;
  height: 100px;
}

/*========== 
media query
=========== */

@media (min-width: 700px) {
  .main-grid {
    grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(150px, 400px)) minmax(
        1em,
        1fr
      );
  }

  /* Hero section */

  .hero {
    padding: 10em 0 5em;
  }

  .hero > * {
    grid-column: 2 / span 2;
  }

  /* Info section */

  .col {
    grid-column: span 1;
  }

  .col:first-child {
    grid-column: 2 / span 1;
  }

  /* navigation */

  .header-home nav {
    background: transparent;
  }

  .open-nav-btn,
  .close-nav {
    display: none;
  }

  .nav {
    position: initial;
  }

  .nav-list {
    flex-direction: row;
    justify-content: flex-start;
  }

  .nav-item {
    margin-left: 2em;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .current-page {
    border-bottom: 2px solid #f28406;
  }

  .current-page:hover,
  .current-page:focus {
    color: #fff;
  }

  /* Footer */
  .footer {
    align-items: center;
    grid-template-areas: ". main main social .";
  }

  .footer-main {
    text-align: start;
    max-width: 600px;
  }

  .social-list {
    justify-content: flex-end;
  }

  /* template page */

  .main-template {
    gap: 2em 4em;
  }

  .page-header {
    margin-bottom: 0;
  }

  .main-img {
    grid-column: 2 / span 1;
  }

  .page-text {
    grid-column: 3 / span 2;
  }

  .section-title:first-child {
    margin-top: 0;
  }

  .main-text {
    grid-column: 3 / span 2;
  }

  .secondary-text {
    grid-column: 2;
  }

  /* Form */

  .contact-form {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense; /*ensures that items are packed densely within the grid, filling any available/empty spaces to optimize the layout.*/
    gap: 0 1em;
  }

  .fname-label,
  .fname-input {
    grid-column: 1;
  }

  .email-label,
  .email-input {
    grid-column: 2;
  }

  .message-label,
  .message-textarea {
    grid-column: span 2;
  }

  .btn-right {
    grid-column: 2;
  }
}
